<!-- Page Content-->
<div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../../../assets/Tesla_logo.png" alt="..." /></div>
      <div class="col-lg-5">
          <h1 class="font-weight-light">Vehicle manufacturer</h1>
          <p>Tesla, Inc. is an American electric vehicle and clean energy company based in Palo Alto, California, United States. Tesla designs and manufactures electric cars, battery energy storage from home to grid-scale, solar panels and solar roof tiles, and related products and services.</p>
          <a class="btn btn-primary" href="#!">Call to Action!</a>
      </div>
  </div>
  <!-- Call to Action-->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body"><p class="text-white m-0">Tesla: Electric Cars, Solar & Clean Energy</p></div>
  </div>
