  <!-- Content Row-->
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">TESLA</h2>
                <p class="card-text">Tesla, Inc. is an American electric vehicle and clean energy company based in Palo Alto, California, United States. Tesla designs and manufactures electric cars, battery energy storage from home to grid-scale, solar panels and solar roof tiles, and related products and services.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.tesla.com/">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Solar Roof</h2>
                <p class="card-text">Install Solar Roof and power your home with a fully integrated solar and storage system. With a seamless design, each tile looks great up-close or from the street, complementing your home’s natural aesthetic styling.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.tesla.com/solarroof">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Solar for Existing Roofs</h2>
                <p class="card-text">Use solar energy to power your home and reduce your dependence on the grid. Purchase solar at the lowest price of any national provider with Tesla's price match guarantee and take control of your monthly electricity bill. Learn more about your potential savings in our Design Studio.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.tesla.com/solarpanels">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
          <div class="card-body">
              <h2 class="card-title">Details of tesla</h2>
              <p class="card-text">Tesla’s mission is to accelerate the world’s transition to sustainable energy.</p>
          </div>
          <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.tesla.com/about">More Info</a></div>
      </div>
    </div>

    <div class="card text-wite my-5 py-4 text-center">
      <div class="center">
        <video src="https://www.youtube.com/watch?v=G2W9YVkkn9U" width="400" height="350" style="align-content: center;" type="video/mp4"></video>
      </div>
    </div>
</div>
